@charset "UTF-8";

body {
  background-color:#a16429;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym13.cur), auto !important;
}

a {
  color: #c6a904
}

h1 {
  color: #3aaf2a;
}

h2 {
  color: #fe4337;
}

p {
  color: #00a3e2;
  font-size: 19px;
  line-height: 160%;
}

img {

  border: 3px solid #a16429;
}

h3 {
  color: #c6a904;
}

h4 {
  color: #a16429
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00a3e2;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
}

li a:hover {
  background-color: #3aaf2a;
}

.active {
  background-color: darkgrey;
}

tr:nth-child(even) {
  background-color: blanchedalmond;
}

th {
  background-color: #a4a9ac;
  color: #f8d101;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f9d001;
}

li a,
.dropbtn {
  display: inline-block;
  color: #eebb8b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: darkgrey;

}

li.dropdown {
  display: inline-block;
}

a:hover {
  cursor: url(https://cur.cursors-4u.net/smilies/smi-3/smi273.ani), url(https://cur.cursors-4u.net/smilies/smi-3/smi273.gif), auto !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: beige;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: cadetblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #8bd5f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.figure-row {
  display: flex;
  justify-content: space-between 1px;
}

figcaption {
  color: #93bc3f
}

.wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  background-color: #f5d2b2;
  border-radius: 50px;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-image: url(images/ob10-icon-trash_can.gif);
  border-radius: 16px;
}

.GFG {
  font-size: 85px;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #fed9ec;
  color: rgb(255, 255, 255);
}